.photo-grid {
  display: grid;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    margin-top: 92px;
    margin-left: 48px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    margin-top: 98px;
    margin-left: 42px;
    grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
    grid-gap: 16px;
  }
}