.lead__image {
  max-width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px){
  .lead__image {
    margin-top: 64px;
  }
}