.cover__title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  max-width: 560px;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

@media screen and (min-width: 320px) and (max-width: 767px ){
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}