.place__url-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #aaa;
  font-family: Inter, Arial,sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 12px;
}